span.divider-line {
    border-top: 1px solid #efefef;
    height: 10px;
    display: block;
    margin: 20px 0;
}

.custom-error {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.payBillForm-section, .loginForm-4county, .err-section {
    text-align: center;
}

#login-auth-form {
}

#login-auth-form img {
    margin: 0 auto;
    display: block;
}

#login-auth-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#login-auth-form .custom-error {
    background: #e26f6f;
    color: #FFF;
    padding: 10px;
    margin: 20px 0;
}

#login-auth-form input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
}

#login-auth-paybill-button {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 10px 25px;
}
